.info{
    text-align: justify;
    background-color:white;
width: 400px;}
    
.title{font-size: 20px;
    color: blue;
text-align: center;}
    
.title_2{font-size: 15px;
    color: blue;
text-align: center;}
    
.title_3{font-size: 15px;
    color: blue;
text-align: center;}

.red{color: red;}
.blue{color: blue;}

.height{line-height: 30px;
text-indent: 30px;}